.dialogues{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialoguesItems{
    margin: 15px;
}
.dialogue{
    margin: 5px;
}

.active{
    color: gold;
}
.messages{
    margin: 15px;
}
.message{}