.header {
    grid-area: header;
    background-color: aquamarine;
}

.header img {
    width: 20px;
}
.loginBlock{
    float: right;

    a{
        color: #2b3040;
        margin-right: 20px;
    }
}
