
.app-wrapper {
    display: grid;

    max-width: 1400px;
    margin: 0 auto;

    grid-template-areas:
          "header header"
          "naw content ";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;

}

.app-wrapper-content {
    background-color: #ccc8c8;
}

.app-wrapper-content img {
    max-width: 1200px;
}